PORT=8010

OPERACION_BASE_URL=http://ms-operacion:8000
FACTURACION_BASE_URL=http://ms-facturacion:8000

HTTP_TIMEOUT_MS=5000

CB_ERROR_THRESHOLD_PERCENTAGE=50
CB_TIMEOUT_MS=3000
CB_RESET_TIMEOUT_MS=10000
